body {
    background-color: rgb(29, 39, 29);
}

h1 {
    text-align: center;
    color: rgb(114, 199, 96);
    font-size: 25px;
    font-family: cursive;
    margin-top: 80px;
    margin-bottom: 30px;
}

video {
    width: 600px;
    height: 900px;
    border: 5px double rgb(114, 199, 96);
    padding-top: 40px;
    padding-bottom: 40px;
}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
